<div data-id="{{this.id}}">
    <div>
        <h2>{{title}}</h2>
        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
        <h4>{{content}}</h4>
    </div>

    {{#if logged_in}}
    <div>
        <button id="add-comment">Add Comment</button>
    </div>

    {{else}}
    <div>
        <button onclick="window.location.href='/login'">Add Comment</button>
    </div>
    {{/if}}

    <div>
        <form style="display: none" id="comment-form">
            <div>
                <label for="comment-content">Comment:</label>
                <textarea id="comment-content" name="comment-content"></textarea>
            </div>
            <div>
                <button id="submitBtn">Submit</button>
            </div>
        </form>
    </div>


    <div>
        <h5>Comments:</h5>
        {{#each comments}}
        <p>{{this.content}}</p>
        <h6>{{this.user.name}} commented on {{format_date this.date_created}}</h6>
        {{/each}}
    </div>
</div>

<script src="/js/comment.js"></script>